/* Resets */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
}
  
img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
}
  
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
  
p a {
    display: inline;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}
  
::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
}
::selection {
    background-color: var(--negro);
    color: var(--blanco);
}
  
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
  
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}
  
svg {
    display: block;
    fill: currentColor;
}
  
::-webkit-scrollbar {
    display: none;
}
:root {
    --font-primary: "Oswald", sans-serif;
    --font-secondary: "Noto Sans", sans-serif;
    --font-c-primary: #FFF;
    --font-c-secondary: #FEFEFE;
    --font-c-tertiary: #10B2BE;
    --font-c-shadow: rgb(0, 0, 0, .2);
    --bg-c-primary: #00131E;
    --bg-c-primary-op: rgb(0, 19, 30, .7);
    --bg-c-secondary: #00131E;
    --bg-c-tertiary: #102634;
    --bg-c-cuaternary: #10B2BE; 
}
body {
    min-height: 100vh;
    font-size: 1rem;
    font-family: var(--font-primary);
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-c-primary);
    color: var(--font-c-primary);
}
.H2{
    font-size: 3.25rem;
    font-weight: 300;
    line-height: 4rem;
    text-transform: uppercase;
}
.Header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: var(--bg-c-primary-op);
}
.Header-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem;
}
.Nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: .625rem;
    font-size: 1.5rem;
    font-weight: 300;
}
.Nav-li{
    text-transform: uppercase;
    padding: 0 1rem;
}
.Nav-a{
    cursor: pointer;
    transition: all .5s ease;
    color: var(--font-c-secondary);
    text-shadow: 0px 4px 4px var(--font-c-shadow);
}
.Nav-a:hover{
    color: var(--font-c-tertiary);
}
.Nav-a::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #10B2BE;
    transform: scaleX(0);
    transition: transform .5s ease;
}
.Nav-a:hover::after{
    transform: scaleX(1);
}
.Hero-wrapper{
    width: 100%;
    height: 100vh;
}
.Hero-video{
    height: 100%;
    background-color: blue;
}
.Hero-h1{
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-size: 3.25rem;
    font-weight: 300;
    max-width: 38.0625rem;
    line-height: 4rem;
}
.Skills-wrapper{
    padding: 3.75rem 5rem;
    width: 100%;
    background-color: var(--bg-c-tertiary) ;
}
.Skills-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
}
.Skills-li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.Skills-text--wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.Skills-h3{
    font-size: 1.5rem;
    color: var(--font-c-tertiary);
    font-weight: 300;
}
.Skills-paragraph{
    font-family: var(--font-secondary);
    font-weight: 300;
    line-height: 1.625rem;
    color: var(--font-c-secondary);
    text-shadow: 0px 4px 4px var(--font-c-shadow);
}
.About-wrapper{
    min-height: calc(100vh - 5.75rem);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
    padding: 0 5rem;
    position: relative;
}
.About-h2{
    z-index: 1;
}
.Paragraph-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.5rem;
    z-index: 1;
}
.About-paragraph{
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 300;
    max-width: 40.9375rem;
    text-shadow: 0px 4px 4px var(--font-c-shadow);
}
.About-picture{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.About-img{
    height: 100%;
    object-fit: cover;
}
.About-picture::before{
    content: "";
    background: linear-gradient(to bottom, var(--bg-c-primary), transparent);
    width: 100%;
    height: 25rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.Services-container{
    padding: 5rem;
}
.Services-ul{
    margin: 2.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 2rem;
}
.Services-li{
    background-color: var(--bg-c-tertiary);
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.Services-img{
    object-fit: cover;
}
.Services-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items:flex-start;
    flex: 1;
    gap: 1.5rem;
}
.Services-h4{
    font-size: 1.875rem;
    color: var(--font-c-tertiary);
    text-transform: uppercase;
}
.Services-span{
    font-size: 1.25rem;
    font-weight: 200;
    color: var(--font-c-secondary);
}
.Services-paragraph{
    font-family: var(--font-secondary);
    color: var(--font-c-secondary);
    font-weight: 300;
    line-height: 1.625rem;
    margin: 1.5rem 0 0;
}
.Prices{
    color: #FEFEFE;
    font-style: italic;
    font-family: var(--font-secondary);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.Prices-span{
    font-size: 2rem;
}
.Prices-span--details{
    font-size: 1.0625rem;
}
.Info-container{
    padding: 0 5rem;
}
.Info-ul{
    padding: 2.5rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5.4688rem;
}
.Info-li{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}
.Info-span{
    color: var(--font-c-secondary);
    font-family: var(--font-secondary);
    font-weight: 200;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    font-style: italic;
    text-align: center;
}