/* Resets */
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
}
  
img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
}
  
a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
  
p a {
    display: inline;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}
  
::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
}
::selection {
    background-color: var(--negro);
    color: var(--blanco);
}
  
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
  
table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
}
  
svg {
    display: block;
    fill: currentColor;
}
  
::-webkit-scrollbar {
    display: none;
}
:root {
    --font-primary: "Oswald", sans-serif;
    --font-secondary: "Noto Sans", sans-serif;
    --font-c-primary: #FFF;
    --font-c-secondary: #FEFEFE;
    --font-c-tertiary: #10B2BE;
    --bg-c-primary: #00131E;
    --bg-c-primary-op: rgb(0, 19, 30, .7);
    --bg-c-secondary: #00131E;
    --bg-c-tertiary: #102634;
    --bg-c-cuaternary: #10B2BE; 
}
body {
    min-height: 100vh;
    font-size: 1rem;
    font-family: var(--font-primary);
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-c-primary);
    color: var(--font-c-primary);
}
.Header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: var(--bg-c-primary-op);
}
.Header-wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5rem;
}
.Nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: .625rem;
    font-size: 1.5rem;
    font-weight: 300;
}
.Nav-li{
    text-transform: uppercase;
    padding: 0 1rem;
}
.Nav-a{
    cursor: pointer;
    transition: all .5s ease;
}
.Nav-a:hover{
    color: var(--font-c-tertiary);
}
.Nav-a::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #10B2BE;
    transform: scaleX(0);
    transition: transform .5s ease;
}
.Nav-a:hover::after{
    transform: scaleX(1);
}
.Hero-wrapper{
    width: 100%;
    height: 100vh;
}
.Hero-video{
    height: 100%;
    background-color: blue;
}
.Hero-h1{
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-size: 3.25rem;
    font-weight: 300;
    max-width: 38.0625rem;
    line-height: 4rem;
}

.Skills-wrapper{
    padding: 3.75rem 5rem;
    width: 100%;
    background-color: var(--bg-c-tertiary) ;
}
.Skills-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
}
.Skills-li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.Skills-text--wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.Skills-h3{
    font-size: 1.5rem;
    color: var(--font-c-tertiary);
    font-weight: 300;
}
.Skills-paragraph{
    font-family: var(--font-secondary);
    font-weight: 300;
    line-height: 1.625rem;
}
